.profil-container {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #fafafa;
    gap: 0.5rem;
}

/* Profil sayfasının kullanıcı bilgilerini içeren kart */
.profil-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;

    padding: 1rem;
    border-radius: 12px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-info h1 {
    font-size: 1.4rem;
}

.user-circle {
    font-size: 5.5rem;
}

.tweet-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.tweet {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tweet span:first-child {
    font-size: 1.1rem;
    font-weight: 600;
}

.tweet span:last-child {
    font-size: 1rem;
    font-weight: 400;
}

/*Profil sayfası tabs*/
.profil-tabs {
    display: flex;
    width: 100%;
    background-color: #fff;
}

.profil-tab {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profil-tab:hover {
    background-color: #f7f9fa;
    cursor: pointer;
}

.profil-tab span {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: #777;
}

.profil-tab .active {
    color: black;
    font-weight: 600;
    border-bottom: 3px solid #1D9BF0;
}

@media (max-width: 532px) {
    .profil-container {
        padding: 1rem;
    }
}