*
/* {
    outline: 1px solid red;
}*/

.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
}

.register-logo {
    width: 500px;
    height: 500px;
    object-fit: cover;
}