* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #ffffff;
    color: #0f1419;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #ffffff;
    /* Beyaz linkler */
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}